


/*                      COLORS
------------------------------------------------------------------------- */

$color_light:   #F2F2EC;
$color_wine:    #990012;
$color_beer:    #F19800;
$color_spirits: #00BBCC;



/*                      TYPOGRAPHY
------------------------------------------------------------------------- */

$font: 'Francois One', 'Lucida Sans', Helvetica, sans-serif;
$font-serif: Georgia, "Times New Roman", serif;

