


/*                      COLORS
------------------------------------------------------------------------- */

$color_light:   #F2F2EC;
$color_wine:    #CC0012;
$color_beer:    #F19800;
$color_spirits: #00BBCC;



/*                      TYPOGRAPHY
------------------------------------------------------------------------- */

$font: 'Francois One', 'Lucida Sans', Helvetica, sans-serif;
$font_serif: Georgia, "Times New Roman", serif;



/*                      SIZES
------------------------------------------------------------------------- */

$navbar_height: 45px;

$wineGlassIcon-width:      50px;
$wineGlassIcon-height:     80px;
$beerGlassIcon-width:      60px;
$beerGlassIcon-height:    100px;
$spiritsGlassIcon-width:   36px;
$spiritsGlassIcon-height:  42px;


