


/*                      TABLET
------------------------------------------------------------------------- */

@media only screen and (max-width: 1000px) {

.wineGlassIcon {
  width: $wineGlassIcon-width * 0.8;
  height: $wineGlassIcon-height * 0.8;
}

.beerGlassIcon {
  width: $beerGlassIcon-width * 0.8;
  height: $beerGlassIcon-height * 0.8;
}

.spiritsGlassIcon {
  width: $spiritsGlassIcon-width * 0.8;
  height: $spiritsGlassIcon-height * 0.8;
}

}

@media only screen and (max-width: 900px) {

.wineGlassIcon {
  width: $wineGlassIcon-width * 0.7;
  height: $wineGlassIcon-height * 0.7;
}

.beerGlassIcon {
  width: $beerGlassIcon-width * 0.7;
  height: $beerGlassIcon-height * 0.7;
}

.spiritsGlassIcon {
  width: $spiritsGlassIcon-width * 0.7;
  height: $spiritsGlassIcon-height * 0.7;
}

}

@media only screen and (max-width: 750px) {

.wineGlassIcon {
  width: $wineGlassIcon-width * 0.5;
  height: $wineGlassIcon-height * 0.5;
}

.beerGlassIcon {
  width: $beerGlassIcon-width * 0.5;
  height: $beerGlassIcon-height * 0.5;
}

.spiritsGlassIcon {
  width: $spiritsGlassIcon-width * 0.5;
  height: $spiritsGlassIcon-height * 0.5;
}

.navBar {
  text-align: left;
}

}

